
    
     <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="#">Pum2A</a>.
     </div>
    <body>
      
      <div class="main-container">
    <div class="background-container">
      
        <div class="cards-container">
          
          <div class="color-cards-container">
            <div class="graycard-container">
              <img class="graycard" src="assets/bg-card-back.png" alt="GrayCreditCard" />
            </div>
          </div>
            <div class="colorcard">
              <div class="card-logo-container">
                <div class="card-logo">
                  <svg width="84" height="47" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="13.478" cy="13.5" rx="13.478" ry="13.5" fill="#fff"/><path d="M56.5 15.5c0 5.565-4.507 10.075-10.065 10.075-5.559 0-10.065-4.51-10.065-10.075 0-5.565 4.506-10.075 10.065-10.075 5.558 0 10.065 4.51 10.065 10.075Z" stroke="#fff"/></svg>
                </div>
              </div>
              <div class="numberCardValue-container">
                <div class="numberCardValue">{{values}}</div>
              </div>
              <div class="userNameCard-container">
                <div class="userNameValue">{{userNameValue}}</div>
              </div>
              <div class="date-container">
                <div class="dateValue">{{dateValues}}</div>
              </div>
            </div>
        </div>
      </div>
      
    </div>
    
    <div class="input-container ">
      <div class="card-details-container" *ngIf="visible" >
        <div class="complete-icon-container">
          <svg width="80" height="80" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="40" cy="40" r="40" fill="url(#a)"/><path d="M28 39.92 36.08 48l16-16" stroke="#fff" stroke-width="3"/><defs><linearGradient id="a" x1="-23.014" y1="11.507" x2="0" y2="91.507" gradientUnits="userSpaceOnUse"><stop stop-color="#6348FE"/><stop offset="1" stop-color="#610595"/></linearGradient></defs></svg>
        </div>
        <span>Thank you!</span>
        <p>We've added your card details</p>
      <div class="button-container">
        <button  (click)="clicksub()" (click)="onclick()">Continue</button>
      </div>
    </div>
    <form [formGroup]="exform"  *ngIf="visible2">
      <div class="input-container-without-column">
        <label class="carholderLabel" for="cardholderName"
        >Cardholder name
        </label
        >
        <input [(ngModel)]="userNameValue" maxlength="40" formControlName="name" placeholder="e.g. Jane Appleseed" type="text" id="cardholderName" name="cardholderName"  />
        <small *ngIf="exform.get('name')?.invalid && exform.get('name')?.touched" class="text-danger">Cardholder is required</small>
        
        
        <label for="cardNumber">Card number</label>
        <input [(ngModel)]="values" maxlength="16" formControlName="cardNumber" placeholder="e.g. 1234 5678 9123 0000" type="text" id="cardNumber" name="cardNumber" />
        <small  *ngIf="exform.get('cardNumber')?.invalid && exform.get('cardNumber')?.touched" class="text-danger">Card number is required</small>
      </div>
      <div class="input-container-column">
        <div class="group">
          <label  for="expDate">Exp.date</label>
          <input [(ngModel)]="dateValues" maxlength="5" formControlName="expDate" placeholder="MM" type="text" id="expDate" name="expDate" />
          <small *ngIf="exform.get('expDate')?.invalid && exform.get('expDate')?.touched" class="text-danger">Experience date is required</small>
          
        </div>
        <div class="group">
          <label for="month">(MM/YY)</label>
          <input maxlength="5" formControlName="yearMonth" placeholder="MM/YY" type="text" id="month" name="month" />
          <small *ngIf="exform.get('yearMonth')?.invalid && exform.get('yearMonth')?.touched" class="text-danger">Month & Year are required</small>
          
        </div>
        <div class="group">
          <label for="CVC">CVC</label>
          
          <input maxlength="3" formControlName="CVC" class="CVC" placeholder="e.g. 123"  type="text" id="CVC" name="CVC" />
          <small *ngIf="exform.get('CVC')?.invalid && exform.get('CVC')?.touched" class="text-danger">CVC is required</small>
          
        </div>
      </div>
      <div class="confirm-button-container">
        <input class="button" (click)="onclick()" (click)="clicksub()" [disabled]="exform.invalid" type="submit" value="Confirm">
      </div>
      
      
      
    </form>
    
  </div>
  
</body>

